<h3 appHighlight>{{ product.title | uppercase }}</h3>
<img [src]="product.image" alt="">
<strong>{{ product.price | currency }}</strong>
<p>{{ product.description | slice:0:10 }}</p>
<p>{{ today | date:'HH:mm' }}</p>
<button mat-button color="primary" (click)="addCart()">Agregar al carrito</button>
<a [routerLink]="['/products', product.id]">Ver detalle</a>
