<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row header-row between-xs middle-xs">
      <nav>
        <span>Mark Place</span>
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
        <a mat-raised-button matBadge="4">
          <mat-icon>Shopping_cart</mat-icon>
          Carrito
        </a>
      </nav>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
